/AlwaysCheat.class
/AlwaysCooperate.class
/Cooperate.class
/Prisoner.class
/PrisonerFactory.class
/PrisonerSimulation.class
/RandomlyCooperate.class
/lastOpponentCooperate.class
/LastOpponentCooperate.class
